# Node.js / NPM
node_modules/
npm-debug.log
yarn-error.log

# Logs gerais
logs/
*.log

# Ficheiros compilados / distribuídos
dist/
build/
target/

# Ambiente local e variáveis
.env
*.env
.env.*

# IntelliJ IDEA / IDEs
.idea/
*.iml
*.ipr
*.iws
*.class

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.container
docker-compose.override.yml

# Maven
.mvn/
.m2/
dependency-reduced-pom.xml

# Arquivos de testes locais e caches
coverage/
.cache/
.tmp/
